.references-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2em;

  h2 {
    padding: 10px 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.img-container {
  padding: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  img {
    border: 0.5px solid;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

}

