body {
  display: flex;
  flex-direction: column;
  background-image: url('assets/background_image.png');
  backdrop-filter: sepia(30%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
}

